<!DOCTYPE html>

<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}"
      class="layout-account-root">

<body>
<main class="content" layout:fragment="content">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="mb-3">
                    <h1 class="h3 d-inline align-middle">Thông tin âm thanh</h1>
                </div>
            </div>
        </div>

        <div class="col-12">


            <h3 class="text-center">List of Sounds</h3>
            <hr>
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID Sound</th>
                        <th scope="col">Poster</th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Mood sound</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="sound : ${soundList}">
                        <td th:text="${sound.id}"></td>
                        <th scope="row"><img class="rounded" alt="Cinque Terre" th:src="${sound.poster}"
                                             style="width: 100px;height: 100px;"></th>
                        <td th:text="${sound.title}"></td>
                        <td th:text="${sound.author}"></td>
                        <td th:text="${sound.moodSound}"></td>
                        <td>
                            <button class="btn btn-outline-secondary">Update
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-outline-danger">Delete
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <hr>
        </div>
    </div>
    </div>
    </div>
    <script>

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
    <script src="js/list-sound.js"></script>

</main>
</body>

</html>