<!DOCTYPE html>

<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}"
      class="layout-account-root">

<body>
<main class="content" layout:fragment="content">

    <div class="container-fluid p-0">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <form class="d-flex" style="margin-left: 40%">
                    <input class="form-control me-5" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <div class="row" style="margin-top: 20px">
            <div class="col-12 col-lg-6">
                <div class="mb-3">
                    <h1 class="h3 d-inline align-middle">Thông tin người dùng</h1>
                </div>
            </div>
        </div>

        <div class=".col-12 .overflow-scroll">


            <h3 class="text-center">List user</h3>
            <hr>
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                    <tr class="text-center">
                        <th scope="col">ID Users</th>
                        <th scope="col">avatar</th>
                        <th scope="col">firstName</th>
                        <th scope="col">lastName</th>
                        <th scope="col">nickName</th>
                        <th scope="col">email</th>
                        <th scope="col">phone</th>
                        <th scope="col">username</th>
                        <th scope="col">status</th>
                        <th scope="col">delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class=".text-md-center text-center" th:each="account : ${accountList}">
                        <td th:text="${account.id}" th:onclick="|test('${account.id}')|"></td>
                        <th scope="row"><img class="rounded" alt="Cinque Terre" th:onclick="|test('${account.id}')|" th:src="${account.avatar}"
                                             style="width: 100px;height: 100px;"></th>
                        <td th:text="${account.firstName}" th:onclick="|test('${account.id}')|"></td>
                        <td th:text="${account.lastName}" th:onclick="|test('${account.id}')|"></td>
                        <td th:text="${account.nickName}" th:onclick="|test('${account.id}')|"></td>
                        <td class="col-md-2" th:text="${account.email}" th:onclick="|test('${account.id}')|"></td>
                        <td th:text="${account.phone}" th:onclick="|test('${account.id}')|"></td>
                        <td th:text="${account.username}" th:onclick="|test('${account.id}')|"></td>
                        <!--                    th:text="${account.status}"-->
                        <td>
                            <button class="btn btn-outline-warning">ACTIVE
                            </button>
                        </td>
                        <td>
<!--                            <form action="#" th:action="@{'/user/{id}'(id=${account.id})}" th:method="delete" >-->
<!--                                <input type="hidden" name="_method" value="delete" />-->
<!--                                <button type="submit" class="btn btn-outline-danger">-->
<!--                                    Delete-->
<!--                                </button>-->
<!--                            </form>-->
                            <button class="btn btn-outline-danger" th:onclick="|deleteEntity('${account.id}')|">Delete
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
<!--                <nav aria-label="Page navigation example">-->
<!--                    <ul class="pagination">-->
<!--                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>-->
<!--                        <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--                        <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--                        <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--                        <li class="page-item"><a class="page-link" href="#">Next</a></li>-->
<!--                    </ul>-->
<!--                </nav>-->
            </div>
            <hr>
        </div>
    </div>
    </div>
    </div>
    <script>
        function test(id) {
            console.log(id)

            window.location.replace(' /user-detail?createdBy=' + id);


        }

    </script>
    <script>
        import {Autocomplete, Input, Ripple, initMDB} from "mdb-ui-kit";

        initMDB({Input, Ripple});

        const basicAutocomplete = document.querySelector('#search-autocomplete');
        const data = ['One', 'Two', 'Three', 'Four', 'Five'];
        const dataFilter = (value) => {
            return data.filter((item) => {
                return item.toLowerCase().startsWith(value.toLowerCase());
            });
        };

        new Autocomplete(basicAutocomplete, {
            filter: dataFilter
        });
    </script>
    <script src="js/user.js"></script>
</main>
</body>

</html>